mixin discount(discount)
    .search
        .search__list
            .search__list-left
                img(src="./img/test.jpg", alt="load fail...", srcset="")
            .search__list-right
                p #{discount.inCarNo}
                p #{discount.inTime.replace(/^(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{2})$/,"$1-$2-$3 $4:$5:$6")}
    hr