extends base

block content 
    form(action="/user", method="POST" style="margin-top: 200px")
        input(type="number", name="shopName", placeholder="관리실")
        input(type="number", name="shopTel", placeholder="02-888-2256")
        input(type="number", name="id", placeholder="admin")
        input(type="number", name="pw", placeholder="⚫⚫⚫⚫⚫⚫⚫")
        button(type="submit") SEND POST
